# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Virtual environments
venv/
.venv/
task3/model_selection/venv/

# macOS files
.DS_Store

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Python build files
build/
dist/
*.egg-info/